:root {
  --color-primary: #3d8168;
  --color-primary-dark: #2c624e;
  --color-background: #f2ebe3;
  --color-text-dark: #1c232b;
  --color-text-gray: #7a746e;
  --color-white: #fff;
}

/* Estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 375px;
  margin: 0 auto;
}

/* Estilos de la tarjeta */
.card {
  background-color: var(--color-white);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 375px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card__content {
  padding: 20px;
}

.card__category {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-text-gray);
  margin: 0 0 8px;
}

.card__title {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  color: var(--color-text-dark);
  margin: 0 0 16px;
}

.card__description {
  color: var(--color-text-gray);
  line-height: 1.6;
  margin: 0 0 16px;
}

.card__pricing {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.card__price {
  font-family: 'Fraunces', serif;
  font-size: 24px;
  color: var(--color-primary);
  font-weight: bold;
}

.card__original-price {
  font-size: 16px;
  color: var(--color-text-gray);
  text-decoration: line-through;
}

.card__button {
  background-color: var(--color-primary);
  color: var(--color-white);
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.card__button:hover {
  background-color: var(--color-primary-dark);
}

.card__button img {
  width: 15px;
  height: 15px;
}


.view-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: 0.3s ease;
}

.view-button:hover {
  background-color: var(--color-primary-dark);
}


@media (max-width: 375px) {
  .card {
    width: 100%;
  }
}